<div class="post-banner text-center pt-3 border-bottom">
  <h2>Latest Posts</h2>
</div>


<div class="container mt-3">
  <div class="post-container d-flex flex-wrap mx-auto w-80">
    {{#each posts as |post|}}

      {{> post-info post }}

    {{/each}}
  </div>
</div>
