{{> post-detail post}}

{{> comments post.comments}}

{{#if loggedIn}}
<div class="container mt-3">
  <form class="comment-form form-group">
    <div class="col-8">
      <textarea name="comment-body" class="form-control"></textarea>
    </div>

    <div class="col-4">
      <button type="submit" class="btn-secondary btn mt-2">add comment</button>
    </div>
  </form>
</div>
{{/if}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}